.header__navigation-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (max-width: 1036px) {
  .header__navigation-list {
    gap: 10px;
  }
}

@media (max-width: 348px) {
  .header__navigation-list {
    border: 1px solid $light-bg;
  }
}
