.hero__wrapper-content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding-inline-start: 36px;
  padding-inline-end: 16px;
}

@media (max-width: 526px) {
  .hero__wrapper-content {
    padding-inline-start: 24px;
    margin-top: 20px;
  }
}
