.projects__desc {
    width: 460px;
    text-align: right;
    padding-inline-end: 48px;
    padding-block: 10px;
    border-right: 1px solid $dark-div;
}

@media (max-width: 992px) {
    .projects__desc {
        padding: 0;
        text-align: center;
        width: 100%;
        border: none;
    }
}