.hero__title-bottom {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  padding-inline: 16px;
  padding-block-start: 5.5px;
  padding-block-end: 7px;
  background-color: $accent-color;
  margin-bottom: 24.5px;
  display: inline-block;
  border-radius: 0 5px 0 5px;
  font-size: 16px;
}

@media (max-width: 451px) {
  .hero__title-bottom {
    font-size: 12px;
    margin-bottom: 14px;
  }
}

@media (max-width: 351px) {
  .hero__title-bottom {
    padding-inline: 14px;
    padding-block-start: 3.5px;
    padding-block-end: 5px;
  }
}
