.header__container {
  max-width: 1920px;
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-inline: 30px;
  padding-block-start: 37px;
  padding-block-end: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: padding-block 0.25s ease;
}

.header__container.scrolled {
  padding-block: 20px;
  border-bottom: transparent;
}

@media (max-width: 851px) {
  .header__container {
    padding-inline: 20px;
    padding-block-start: 30px;
    padding-block-end: 16px;
  }
}
