@media (max-width: 1042px) {
  .card-best-work__desc-link {
    padding-inline: 16px;
    gap: 8.5px;
  }
}

@media (max-width: 768px) {
  .card-best-work__desc-link {
    padding-inline: 30px;
    gap: 11px;
  }
}

@media (max-width: 385px) {
  .card-best-work__desc-link {
    padding-inline: 16px;
    gap: 8.5px;
  }
}
