.hero__desc {
    display: inline-block;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding-inline: 22px;
    padding-block: 15px;
    background-color: rgba(32, 35, 40, 0.9);
    border-radius: 0 10px 0 10px;
    line-height: 170%;
}