.trust__item-text {
    font-weight: 400;
    font-size: 14px;
    color: $dark-header;
    text-transform: lowercase;
}

@media (max-width: 1253px) {
    .trust__item-text {
        font-size: 11px;
    }
}

@media (max-width: 990px) {
    .trust__item-text {
        font-size: 14px;
    }
}