.trust__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 992px) {
    .trust__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 936px) {
    .trust__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 652px) {
    .trust__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 449px) {
    .trust__list {
        gap: 4px;
        margin-bottom: 20px;
    }
}