@media (max-width: 1042px) {
  .card-best-work__location-text {
    font-size: 12px;
  }
}

@media (max-width: 825px) {
  .card-best-work__location-text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .card-best-work__location-text {
    font-size: 14px;
  }
}

@media (max-width: 385px) {
  .card-best-work__location-text {
    font-size: 12px;
  }
}
