//font
$main-font-family: 'raleway', sans-serif;

// color
$accent-color: rgba(248, 133, 0, 1);
$text: rgba(51, 51, 51, 1);
$dark: rgba(32, 35, 40, 1);
$deep: rgba(23, 26, 26, 1);
$dark-header: rgba(111, 122, 139, 1);
$dark-div: rgba(45, 48, 56, 1);
$light-bg: rgba(250, 250, 250, 1);
$light-disabled: rgba(228, 230, 232, 1);
$light-div: rgba(231, 231, 232, 1);
$middle-gray: rgba(111, 122, 139, 1);
$text-light: rgba(153, 153, 153, 1);