@media (max-width: 1042px) {
  .card-best-work__location-link {
    padding-inline: 17px;
  }
}

@media (max-width: 768px) {
  .card-best-work__location-link {
    padding-inline: 30px;
  }
}

@media (max-width: 385px) {
    .card-best-work__location-link {
      padding-inline: 17px;
    }
  }
