.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  padding-inline: 50px;
  z-index: 2;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
  transition: background-color 0.25s ease, backdrop-filter 0.25s ease;
}

.header.scrolled {
  background-color: rgba(32, 35, 40, 0.8);;
  backdrop-filter: blur(10px);
}

@media (max-width: 1081px) {
  .header {
    padding-inline: 30px;
  }
}

@media (max-width: 851px) {
  .header {
    padding-inline: 10px;
  }
}

@import "./__container/header__container.scss";
@import "./__navigation-list/header__navigation-list.scss";
@import "./__list-link/header__list-link.scss";
@import "./__list-link/_active/header__list-link_active.scss";
@import "./__soc-list/header__soc-list.scss";
@import "./__soc-img/header__soc-img.scss";
@import "./__soc-img/_margin-top/header__soc-img_margin-top.scss";
@import "./__logo/header__logo.scss";
@import "./__navigation/header__navigation.scss";
@import "./__mobile-navigation/header__mobile-navigation.scss";
@import "./__mobile-navigation-text/header__mobile-navigation-text.scss";
@import "./__mobile-navigation-img/header__mobile-navigation-img.scss";
