.projects__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-block-start: 63px;
    padding-block-end: 167px;
    background-color: $dark;
}